.Slot.middleCentre {
	width: 50%;
	font-family: "Manrope", "Arimo", "Noto Sans";
}
.middleCentre .Widget {
	margin: 12% 0 !important;
}
.middleCentre .Widget .Time {
	text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
}
.middleCentre .Widget form.Search {
	background: rgba(0, 0, 0, 0.4);
	padding: 0 16px;
	border: 0px solid;
	border-radius: 8px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
}
.plane {
	background: #111 !important;
}
.plane, h2, h4 {
	color: #aaa !important;
}
fieldset textarea, select {
	background: #333 !important;
	outline: none;
	border: none !important;
}
fieldset button {
	filter: invert(80%);
}
fieldset.Widget, div.plane .Widget {
	background: #222 !important;
}
